{
  "tabWidth": 4,
  "printWidth": 100,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "arrowParens": "always",
  "overrides": [
    {
      "files": [
        ".prettierrc",
        ".eslintrc.js",
        "*.json",
        "*.webmanifest",
        "*.yml",
        "*.yaml"
      ]
    }
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^cryo-ui-kit$",
    "^cryo-ui-kit/(.*)$",
    "^@providers/(.*)$",
    "^@theme$",
    "^@theme/(.*)$",
    "^@services/(.)$",
    "^@store/(.)$",
    "^@models/(.)$",
    "^@hooks/(.*)$",
    "^@icons/(.*)$",
    "^@components/templates/(.*)$",
    "^@components/organisms/(.*)$",
    "^@components/molecules/(.*)$",
    "^@components/atoms/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true
}
